!!!
%head
  %meta{charset: "utf-8" }
  %link{href: "https://fonts.googleapis.com/css?family=Open+Sans", rel: "stylesheet", type: "text/css"}
  %link{rel: :stylesheet, type: "text/css", href: "people.css"}
%body
  .header
    %img{src: "images/opensuse-logo.png"}
    %span{id: "menu"}
      %a{href: "index.html"}
        ALL INTERVIEWS
  .content
    %p
      This is a description of how to do interviews for the "People of openSUSE"
      series.
    %p
      We do the interviews via email using the template shown below. It contains
      a first set of question. Follow up with more questions based on the
      answers you already got to drill down on interesting content. Feel free to
      modify the template where needed.
    .template
      %pre
        :preserve
          Thanks for doing the interview for the "People of openSUSE" series with us.

          It would be great, if you could point us to a photo of yourself to publish with this interview, or just attach one.

          We will collect your answers to our questions, maybe follow up with some more questions, and put the interview together. Before we publish it, we'll send it to you for review.

          We'll publish the interview on the "People of openSUSE" web site at http://opensuse.github.io/people under the Creative Commons license. Are you ok with that?

          Here go the questions (just answer them inline):

          **Please introduce yourself!**


          **How do people usually call you? What nickname do you use on IRC. Do you have a blog or any other web site you would like to share?**


          **What are you doing for a living? Are you paid to work on openSUSE?**


          **When and why did you start using openSUSE?**


          **What was your first contribution to openSUSE?**


          **In what way do you participate in openSUSE today and what keeps you going?**


          **What have you learned in your time as part of the openSUSE community you would have wished to know when you started?**


          **When people ask you why they should use openSUSE instead of another distribution, what do you tell them?**


          **What are your favorite applications? What sets them apart?**


          **Three words to describe openSUSE? Or make up a proper slogan!**


          **What do you think the future holds for openSUSE?**


          **If you would have unlimited resources, what would you do with it?**


          **Which is your favorite movie scene?**


          **Star Trek or Star Wars?**


          **Torvalds or Stallman?**


          **Tumbleweed or Leap?**


          **Show us a picture of something, you have always wanted to share!**


          **What would you like every person in the openSUSE community to know?**
    %p
      When you have collected the answers store the file in markdown format
      in the `sources` folder and run the `run_me` script to generate the web
      site. Commit to git and push to GitHub to publish it.
