!!!
%head
  %meta{charset: "utf-8" }
  %link{href: "https://fonts.googleapis.com/css?family=Open+Sans", rel: "stylesheet", type: "text/css"}
  %link{rel: :stylesheet, type: "text/css", href: "people.css"}
%body
  .header
    %img{src: "images/opensuse-logo.png"}
    %span{id: "menu"}
      %a{href: "index.html"}
        ALL INTERVIEWS
  .content
    %p
      We do the interviews via email using the template shown below. If it can
      interesting content follow up with additional questions. Feel free to
      modify the template where needed.
    .template
      %pre
        :preserve
          Thanks for doing the interview for the "People of openSUSE" series with us.

          As a start please give us a bit of info about your profile:

          * Nickname:
          * Blog:
          * Favorite season:
          * Motto:

          Please also point us to a photo of yourself to publish with this interview
          or attach one.

          And here go the questions:

          **Please introduce yourself!**



          **Tell us about the background to your computer use.**



          **When and why did you start using openSUSE/SUSE Linux?**



          **When did you join the openSUSE community and what made you do that?**



          **In what way do you participate in the openSUSE project?**



          **What especially motivates you to participate in the openSUSE project?**



          **What do you think was your most important contribution to the openSUSE project/community or what is the contribution that you’re most proud of?**



          **When do you usually spend time on the openSUSE project?**



          **Three words to describe openSUSE? Or make up a proper slogan!**



          **What do you think is missing or underrated in the distribution or the project?**



          **What do you think the future holds for the openSUSE project?**



          **A person ask you why he/she should choose openSUSE instead of other distribution/OS. What would be your arguments to convince him/her to pick up openSUSE?**



          **Which members of the openSUSE community have you met in person?**



          **How many icons are currently on your desktop?**



          **What is the application you can’t live without? And why?**



          **Which application or feature should be invented as soon as possible?**



          **Which is your preferred text editor? And why?**



          **Which famous person would you want to join the openSUSE community?**



          **Which computer related skills would you like to have?**



          **The Internet crashes for a whole week. How would you feel, what would you do?**



          **Which is your favorite movie scene?**



          **Star Trek or Star Wars?**



          **What is your favorite food and drink?**



          **Favorite game or console (in your childhood and nowadays)?**



          **Which city would you like to visit?**



          **What is your preferred way to spend your vacation?**



          **Someone gives you $1.000.000. What would you do with the money?**



          **If traveling through time was possible. When would we be most likely to meet you?**



          **There’s a thunderstorm outside. Do you turn off your computer?**



          **Have your ever missed an appointment because you forgot about it while sitting at your computer?**



          **Show us a picture of something, you have always wanted to share!**



          **You couldn’t live without…**



          **Which question was the hardest to answer?**



          **What other question would you like to answer? And what would you answer?**
    %p
      When you have collected the answers store the file in markdown format
      in the `sources` folder and run the `run_me` script to generate the web
      site. Commit to git and push to GitHub to publish it.
