!!!
%head
  %meta{charset: "utf-8" }
  %link{href: "https://fonts.googleapis.com/css?family=Open+Sans", rel: "stylesheet", type: "text/css"}
  %link{rel: :stylesheet, type: "text/css", href: "people.css"}
%body
  .header
    %img{src: "images/opensuse-logo.png"}
  .content
    %h1 People of openSUSE
    %h2.subtitle
      Interviews with the people who make openSUSE

    .note
      The "People of openSUSE" is an interview series with the people who form the community
      of openSUSE, those people who spend their time and effort to make all the great things
      happen in openSUSE. The series ran from 2007 to 2011. In 2016 we are rebooting it and
      are adding interviews with more people. Stay tuned and learn to know who makes openSUSE.
    %h2 All interviews
    %ul
    - year = nil
    - all.each do |person|
      - if year != person[:date][0..3]
        - year = person[:date][0..3]
        %h3
          = year
      %li
        <a href="#{person[:link]}">#{person[:name]}</a>
        %span{class: "date"}
          (#{person[:date]})
    %h2 Doing new interviews
    %p
      See the page about
      %a{href: "howto.html"}
        how to do interviews with the People of openSUSE
      for some instructions and guide lines for doing interviews.
    %p
      The people we ask are people who are involved in the openSUSE community in
      some way. We are trying to have a diverse selection of people with
      different background and doing different type of work.
    %p
      The sources for this page can be found in the
      %a{href: "https://github.com/openSUSE/people"}
        people
      git repo of the openSUSE organization. Feel free to open issues or submit pull request
      there for any suggestions you might have.
      
