!!!
%head
  %meta{charset: "utf-8" }
  %link{href: "https://fonts.googleapis.com/css?family=Open+Sans", rel: "stylesheet", type: "text/css"}
  %link{rel: :stylesheet, type: "text/css", href: "people.css"}
%body
  .header
    %img{src: "images/opensuse-logo.png"}
    %span{id: "menu"}
      %a{href: "index.html"}
        ALL INTERVIEWS
  .content
    %h1
      = title
    .profile
      = profile
    .interview
      = interview
  .footer
    Made by openSUSE
